$color-primario: #fbbf24;
$color-secundario: #4338ca;
$color-terciario: #404040;
$color-oscuro-1: #050505;
$color-oscuro-2: #262626;
$color-oscuro-3: #323232;
$font-color-1: rgba(255, 255, 255, 0.96);
$font-color-2: rgba(255, 255, 255, 0.67);
$font-color-3: rgba(255, 255, 255, 0.45);
$sm-1: 0.375rem;
$sm-2: 0.625rem;
$sm-3: 0.875rem;
$md-1: 1rem;
$md-2: 1.375rem;
$md-3: 1.75rem;
$lg-1: 2.5rem;
$lg-2: 3.5rem;
$lg-3: 4.5rem;

.main-div {
  width: 80vw;
  min-height: 630px;
  height: calc(100vh - ($lg-3 * 1.5));
  display: flex;
  max-height: 1010px;
  justify-content: center;
}

.main-frame {
  width: 80vw;
  height: calc(100vh - ($lg-3 * 1.5));
  max-width: 1536px;
  max-height: 1010px;
  display: flex;
  flex-direction: column;
}

.text-div {
  padding-top: calc($lg-3 * 1.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc($lg-3 * 2.4);
  p {
    font-size: $lg-2;
    position: relative;
    font-weight: 700;
  }
  span {
    color: $color-primario;
    font-weight: 900;
    font-size: $lg-3;
  }
  margin-bottom: calc($lg-3 * 2);
}

.main-text {
    text-shadow: 5px 5px 10px $color-oscuro-1;
  :before {
    content: "Contact";
    position: absolute;
    color: $font-color-3;
    top: calc($lg-1);
    font-size: calc($lg-3 * 1.5);
    left: -$sm-3;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-shadow: none;
  }
}

.bubbles{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
}

.contact-bubbles-div{
  position: relative;
}

.contact-bubble{
    background-color: $color-primario;
    border-radius: 999999px;
    position: relative;
    height: $lg-3 * 4;
    width: $lg-3 * 4;
    transition: all 0.2s ease-in-out;
    p, p:visited{
        width: $lg-3 * 8;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -0%);
        display: flex;
        justify-content: center;
        font-size: $md-3;
        font-weight: 500;
        color: $font-color-1;
        text-decoration: none;
    }
    img{
        height: $lg-3 * 1.5;
    width: $lg-3 * 1.5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        transform: scale(1.1) translateY(-5px);
        box-shadow: 0px 15px 15px #101010;
    }
    &:active{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0px 7.5px 7.5px #101010;
    }
}