<div class="main-div">
  <div class="main-frame">
    <div class="text-div">
      <p *ngIf="lenguage !== 'spanish'" class="main-text"><span>Contact</span> Me</p>
      <p *ngIf="lenguage === 'spanish'" class="main-text"><span>Contactame</span></p>
      <p *ngIf="lenguage !== 'spanish'" >Wanna <span>reach</span> to me? Let's <span>connect</span>!</p>
      <p *ngIf="lenguage === 'spanish'" >Quieres <span>hablar</span> conmigo? Escribeme en mis <span>redes</span>!</p>
      <div class="bubbles">
      <div *ngFor="let contact of contacts" class="contact-bubbles-div">
        <a [href]="contact.link" target="_blank">
        <div class="contact-bubble">
                <img [src]="contact.img" [alt]="contact.name" />
                <p>{{contact.text}}</p>
              </div>
            </a>
      </div>
    </div>
    </div>
  </div>
</div>
