<div class="main-div">
  <div class="main-frame">
    <div class="text-div">
      <p class="main-text"><span>Contact</span> Me</p>
      <p>Wanna <span>reach</span> to me? Let's <span>connect</span>!</p>
      <div class="bubbles">
      <div *ngFor="let contact of contacts" class="contact-bubbles-div">
        <div class="contact-bubble">
            <a [href]="contact.link" target="_blank">
                <img [src]="contact.img" [alt]="contact.name" />
                <p>{{contact.text}}</p>
            </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
