<div class="main-div">
    <div class="main-frame">
        <div class="img-div">
            <img src="/assets/valentin 2.png" alt="">
        </div>
        <div class="text-div">
            <div class="about-div">
                <p class="about-me">About <span>Me</span></p>
            </div>
            <div class="info-div">
                <div class="data-div">
                    <p>Full Name:</p>
                    <p>Date of Birth:</p>
                    <p>City:</p>
                    <p>Zip Code:</p>
                    <p>Email:</p>
                </div>
                <div class="data-result-div">
                    <p>Valentin Dealbera</p>
                    <p>June 10, 1999</p>
                    <p>Villa Maria, Cordoba, Argentina</p>
                    <p>5900</p>
                    <p>valentindealbera01@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
