// colors :
//  negro : #1e2124
//  gris 1 : #282b30
//  gris 2 : #36393e
//  gris 3 : #424549
//  primario : #7289da
//
.footer-general{
    height: 30px;
    width: 100vw;
    background-color: #7289da;
}