<div class="master-div">
<div class="div-general">
    <div class="div-text">
        <div class="div-text-block">
        <p class="hey-there">Hey there!</p>
        <p class="im-valentin" >I'm <span class="valentin">Valentin</span></p>
            <p><span class="dealbera">Dealbera</span></p> 
            <p  class="a-web-developer">a <span class="full-stack">Full Stack</span> web developer</p>
            <p class="from-argentina">from Argentina</p>
            <div class="button-div" >
                <button class="hire-me">HIRE ME</button>
                <button class="my-works">MY WORKS</button>
            </div>
        </div>
    </div>
    <div class="div-foto">
        <img class="img-vale" src="/assets/valentin 1.png" alt="">
    </div>
</div>
</div>
