<div class="navbar-general">
  <div class="navbar-general-all">
    <div class="name-logo">
      <span class="name-logo-text" (click)="scrollToHome()" >Valentin Dealbera</span>
    </div>
    <div class="nav-buttons-div">
      <span class="nav-buttons-text" (click)="scrollToHome()">{{lenguage === 'english' ? 'Home' : 'Inicio'}}</span>
      <span class="nav-buttons-text" (click)="scrollToAbout()">{{lenguage === 'english' ? 'About me' : 'Sobre mi'}}</span>
      <span class="nav-buttons-text" (click)="scrollToSkills()">{{lenguage === 'english' ? 'Skills' : 'Habilidades'}}</span>
      <span class="nav-buttons-text" (click)="scrollToProjects()"
        >{{lenguage === 'english' ? 'Projects' : 'Proyectos'}}</span
      >
      <span class="nav-buttons-text" (click)="scrollToContact()">{{lenguage === 'english' ? 'Contact' : 'Contacto'}}</span>
      <span class="nav-buttons-text" (click)="updateQueryParams()" >{{lenguage === 'english' ? 'English' : 'Spanish'}}</span>
    </div>
  </div>
</div>
<div class="navbar-responsive">
  <div class="navbar-general-all">
    <div class="name-logo">
      <span class="name-logo-text">Valentin Dealbera</span>
    </div>
    <div class="responsive-nav">
      <img src="/assets/picklist-type-svgrepo-com.svg" alt="" (click)="setDropDown()"/>
    <div *ngIf="dropdown" class="nav-buttons-div">
      <span class="nav-buttons-text" (click)="scrollToHome()">Home</span>
      <span class="nav-buttons-text" (click)="scrollToAbout()">About me</span>
      <span class="nav-buttons-text" (click)="scrollToSkills()">Skills</span>
      <span class="nav-buttons-text" (click)="scrollToProjects()"
        >Projects</span
      >
      <span class="nav-buttons-text" (click)="scrollToContact()">Contact</span>
      <span class="nav-buttons-text" (click)="updateQueryParams()" >{{lenguage}}</span>
    </div>
  </div>
  </div>
</div>
<div #home>
  <app-home (HireMe)="scrollToContact()" (MyWorks)="scrollToProjects()"></app-home>
</div>
<div #about>
  <app-about></app-about>
</div>
<div #skills>
  <app-skills></app-skills>
</div>
<div #projects>
  <app-projects></app-projects>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
