<div class="navbar-general">
    <div class="navbar-general-all">
    <div class="name-logo">
        <span class="name-logo-text">Valentin Dealbera</span>
    </div>
    <div class="nav-buttons-div">
                <span class="nav-buttons-text">Home</span>
                <span class="nav-buttons-text">About me</span>
                <span class="nav-buttons-text">Skills</span>
                <span class="nav-buttons-text">Projects</span>
                <span class="nav-buttons-text">Contact</span>
    </div>
</div>
</div>
