<div class="navbar-general">
    <div class="navbar-general-all">
    <div class="name-logo">
        <span class="name-logo-text">Valentin Dealbera</span>
    </div>
    <div class="nav-buttons-div">
        <ul class="nav-buttons">
            <li>
                <a href="#">Proyects</a>
            </li>
            <li>
                <a href="#">About me</a>
            </li>
        </ul>
    </div>
    <div class="contact-button">
        <span>contact me</span>
    </div>
</div>
</div>
