<div class="main-div">
    <div class="main-frame">
       <div class="text-div">
        <p class="main-text">Tech <span>Skills</span></p>
        <p>The <span>Skills</span> I'm honing everyday, and many more to <span>Learn</span></p>
       </div>
       <div class="skills-div">
        <button (click)="setPage('-')" class="button-left">◄</button>
        <div class="carrousel-div">
                <div class="grid-slot in-right" *ngFor="let skill of showSkills" >
                    <div class="grid-slot-div">
                   <p class="title"><img class="grid-img" src="{{skill.image}}" alt="{{skill.name}}"> {{skill.name}}</p>
                </div>
                   <p class="description" #description>{{skill.description}}</p>
            </div>
        </div>
        <button (click)="setPage('+')" class="button-right">►</button>
       </div>
    </div>
</div>
