<div class="photo-card-general">
  <div class="photo-card-div">
    <div class="photo-card-photo-div">
      <img class="photo-card-photo" src="/assets/valen3.png" alt="Valen" />
    </div>
    <div class="photo-card-text">
      <div class="photo-card-text-write">
        <h2>Hey there! I'm Valentin Dealbera</h2>
        <p>
          A passionate Full Stack web developer, musician, and gamer from
          Argentina. I love tech stuff and creating anything related to it
          I'm always doing something new, experimenting, discovering new things
          and i would love to translate that to a work environment!
        </p>
      </div>
    </div>
  </div>
</div>
