.photo-card-general {
  width: 56vw;
  height: 40vh;
  background: #424549;
  border-radius: 20px;
  margin-left: 5vw;
  margin-top: 50px;
  max-width: 1030px;
  max-height: 283px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.photo-card-div {
  padding: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.photo-card-photo-div {
  display: flex;
  justify-content: flex-start;
  width: 15vw;
  max-width: 247px;
}

.photo-card-photo {
    width: 100%;
    border-radius: 9999999px;
}

.photo-card-text {
  background: #36393E;
  border-radius: 20px;
  width: 35vw;
  height: 15vw;
  max-width: 670px;
  max-height: 247px;
  display: flex;
  align-items: center;
}

.photo-card-text-write {
    margin: 18px;
    padding: 0;
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
    h2 {
      line-height: 1;
      font-size: 1.5rem;
    }
  }