<div class="grid-div">
  <div class="grid-slot">
    <img
      class="grid-img"
      src="/assets/typescript-official-svgrepo-com.svg"
      alt=""
    />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/tailwind-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/redux-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/react-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/postgresql-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/node-js-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/next-dot-js-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/mongo-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/firebase-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/figma-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/express-svgrepo-com.svg" alt="" />
  </div>
  <div class="grid-slot">
    <img class="grid-img" src="/assets/angular-svgrepo-com.svg" alt="" />
  </div>
</div>
